body{
    background: rgb(32, 184, 235);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#tit{
    font-size: 25px;
    color:mintcream;
    text-align: center;
}

#content{
    width: 75%;
    margin: 0px auto;
    background: #eee;
    min-height: 485px;
    border: 1px solid black
}

nav ul li{
    font-size: 20px;
    float: left;
    margin: 20px;
    margin-left: 170px;
    margin-bottom: 40px;
    list-style: none;
    
}

.fix{
    clear: both;
}

header{
    color: rgb(32, 184, 235);
    font-size: 15px;
    text-align: center;
    background: #eee;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
}

header2{
    color: blanchedalmond;
    font-size: 10px;
    text-align: center;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
}

footer{
    text-align: center;
    color: blanchedalmond;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
}

#images{
    border-top: 1px solid black;
    width: 100%;
    text-align: center;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;;
}

.art{
    color: rgb(32, 184, 235);
    margin-top: 60px;
    margin-bottom: 60px;
}

